.landing-text {
  font-size: clamp(45px, 10vw, 56px);
}

.title {
  font-size: clamp(55px, 10vw, 128px);
}

.overlay {
  background-color: rgba(79, 181, 255, 0.9);
}

.project-box {
  img {
    transition: 0.7s ease-in-out;
  }

  .blur-overlay {
    opacity: 0;
    background-color: rgba(7, 91, 157, 0.65);
    transition: 0.3s ease-in-out;
  }
}

.project-box:hover {
  img {
    scale: 1.1;
  }

  .blur-overlay {
    opacity: 1;
  }
}
