.landing-text {
  font-size: clamp(min(7vw, 15rem), 10vw, 50%);
  padding: 0;
}

.title {
  font-size: clamp(55px, 10vw, 128px);
}

.overlay {
  background-color: rgba(79, 181, 255, 0.9);
}

.project-box {
  img {
    transition: 0.7s ease-in-out;
  }

  .blur-overlay {
    opacity: 0;
    background-color: rgba(7, 91, 157, 0.65);
    // background-color: rgba(254, 177, 69, 0.85);
    // background-color: rgba(147, 127, 219, 0.75);
    transition: 0.3s ease-in-out;
  }
}

.project-box:hover {
  img {
    scale: 1.1;
  }

  .blur-overlay {
    opacity: 1;
  }
}
