@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cyan: #02FDF4;
    --blue: #05DBF7;
    --pink: #FF6392;
    --yellow: #FFDF66;
}

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    p {
        @apply font-light;
    }
}

.heading {
    font-size: 70px;
}

.stroked {
    color: transparent;
    -webkit-text-stroke: 0.5px white;
}

.externalLink {
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--blue);
    }
}