@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cyan: #02FDF4;
    // --blue: #05DBF7;
    // --blue: #72A5E8;
    --blue: #82C8F9;
    --pink: #FF6392;
    --yellow: #FFDF66;
    --green: #50CEAC;
    --purple: #BD83E5;
    --black: #0D0B0C;
    --light-blue: #D4E1F2;
    background-color: var(--black);
}

@layer base {
    h1 {
        @apply text-2xl text-white;
    }

    h2 {
        @apply text-xl text-white;
    }

    p,
    li {
        @apply font-light text-white;
    }
}

.heading {
    font-size: 70px;
    font-weight: 600;
}

.stroked {
    color: transparent;
    -webkit-text-stroke: 0.5px white;
}